{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Maple Leaf Harvest{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static 'images/logo.png' %}" />Maple Leaf Harvest</a></h1>
{% endblock %}

 {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>

    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
 {% endblock %}

{% block nav-global %}
<div style="padding-top:30px">

<ul class="nav nav-pills">
    {% if user.is_authenticated %}

        {% if user.is_superuser or user.profile.donor %}
        <li role="presentation"><a href="{% url 'admin:donor_offer_changelist' %}">{% trans 'Donations' %}</a></li>
        {% endif %}

        {% if user.is_superuser %}
            <li role="presentation"><a href="{% url 'admin:beneficiary_beneficiary_changelist' %}">{% trans 'Beneficiaries' %}</a></li>
        {% endif %}

        {% if user.profile.beneficiary %}
            <li role="presentation"><a href="{% url 'admin:beneficiary_beneficiary_change' user.beneficiary_profile.pk %}">{% trans 'Beneficiary settings' %}</a></li>
        {% endif %}

        {% if user.is_superuser or not user.profile.driver %}
            <li role="presentation"><a href="{% url 'admin:matcher_matched_changelist' %}">{% trans 'Delivery schedule' %}</a></li>
        {% endif %}


        <li role="presentation"><a href="{% url 'admin:profiles_organization_change' user.organization.pk %}">{% trans 'Organization' %}</a></li>


        {% if user.is_superuser or user.profile.driver %}
            <li role="presentation"><a href="{% url 'admin:matcher_visitpoint_changelist' %}">{% trans 'Driver schedule' %}</a></li>
        {% endif %}

        {% if user.is_superuser or user.profile.operator %}
            <li role="presentation"><a href="/admin/matcher_panel/">{% trans 'Matcher'%}</a></li>
        {% endif %}

    {% endif %}

</ul>
<br/>
</div>

{% endblock %}
