.half-box {
    width: 50%;
    float:left;
}

.all_page{
    width: 100%;
}

.radio_select{
    margin-bottom: 10px;
}

.box_m{
    padding:10px;
    width:100%;
}

.bg_col{
    background: #6bdd6b;
}
.bg_col:hover{
    background: #6bdd6b !important;
}
.bg_col:focus{
    background: #6bdd6b !important;
}