{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}


{% block content %}
<div id="content-main">
<h1>{% trans 'Confirm transaction' %}</h1>
<form action="{% url 'confirm_offer' offer_id hash %}" method="post">{% csrf_token %}

    {{ form.as_p }}
    <br />
    <div class="module aligned form-row field-date">
        <h1>{% trans 'Donation' %}</h1>
        <ul>
            <li>{% trans 'Delivery name' %}: {{ match.offer.name }}</li>
            <li>{% trans 'Food category' %}: {{ match.offer.food_category }}</li>
            <li>{% trans 'Estimated mass' %}: {{ match.offer.estimated_mass }}</li>
            <li>{% trans 'Contact person' %}: {{ match.offer.contact_person }}</li>
            <li>{% trans 'Temperature person' %}: {{ match.offer.temperature }}</li>
            <li>{% trans 'Packaging person' %}: {{ match.offer.packaging }}</li>
            <li>{% trans 'Release time' %}: {{ match.offer.time_from }}</li>
            <li>{% trans 'Pick up address' %}: {{ match.offer.address }}</li>
        </ul>
        <p>{% trans 'Driver info' %}: {{ match.offer.driver_info }}</p>
    </div>

    <div class="submit-row">
        <input type="submit" value="{% trans 'Confirm' %}" class="default" />
    </div>

</form>
</div>

{% endblock %}
